/* Variables */
$primary-color: #0d47a1;

/* Estructura Flexible para Footer pegajoso */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}

.main-content {
  flex: 1;
  /* No ponemos padding aquí para permitir que el carrusel de 'Inicio' toque los bordes si se desea,
     o el componente hijo manejará su propio contenedor */
}

/* Personalización Navbar Bootstrap */
.navbar {
  background-color: $primary-color !important;
}

.nav-link {
  font-weight: 500;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link.active {
  font-weight: 700;
  color: #ffc107 !important; /* Amarillo para resaltar */
}

/* Personalización Footer */
footer {
  box-shadow: 0 -4px 10px rgba(0,0,0,0.05);
}
