<div class="d-flex justify-content-center align-items-center min-vh-100 bg-boda">
    <div class="card-glass" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4 title-boda">Confirmación de Asistencia</h2>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

            <!-- Nombre -->
            <div class="mb-3">
                <label class="form-label">Nombre completo</label>
                <input type="text" class="form-control" name="nombre" required [(ngModel)]="model.nombre"
                    #nombre="ngModel">

                @if (nombre.invalid && nombre.touched) {
                <div class="text-danger small">
                    Este campo es obligatorio
                </div>
                }
            </div>

            <!-- Invitados -->
            <div class="mb-3">
                <label class="form-label">Número de invitados</label>
                <input type="number" class="form-control" name="acompanantes" min="1" required
                    [(ngModel)]="model.acompanantes" #acompanantes="ngModel">

                @if (acompanantes.invalid && acompanantes.touched) {
                <div class="text-danger small">
                    Debe ser al menos 1 acompañante
                </div>
                }
            </div>

            <!-- Confirmación -->
            <div class="mb-3">
                <label class="form-label">¿Asistirás?</label>
                <select class="form-select" name="confirma" required [(ngModel)]="model.confirma" #confirma="ngModel">
                    <option value="">Selecciona...</option>
                    <option value="si">Sí, asistiré</option>
                    <option value="no">No podré asistir</option>
                </select>

                @if (confirma.invalid && confirma.touched) {
                <div class="text-danger small">
                    Seleccione una opción
                </div>
                }
            </div>

            <!-- Mensaje -->
            <div class="mb-3">
                <label class="form-label">Mensaje o dedicatoria (opcional)</label>
                <textarea class="form-control" rows="3" name="mensaje" [(ngModel)]="model.mensaje"></textarea>
            </div>

            <button type="submit" class="btn-boda w-100" [disabled]="f.invalid">
                Enviar confirmación
            </button>

        </form>
    </div>
</div>
